
/* ESTILOS DEL NAVBAR Y EL FOOTER */
/* Reinicio de css personalizado */
html {
  margin: 0px;

  }

  /* resto del css */
  
body {
  background-color: #3F3D56;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.logoNav {
    width: 20vh;

  }
  
  
  /* Línea divisoria entre el navbar y el main */
  .barraNavegacion{
    margin: 0;
    padding: 0;
    /* width: 600px; */
  }
  .nav-divider {
    height: 15px;
    background: linear-gradient(91deg, #804276, #667999, #663377, #884846); 
    margin-top: 10px; 
    margin-bottom: 10px; 
    
  }

  /* Estilos para pantallas grandes (mayores a 767px) */
.navbar-collapse {
  transform-origin: top;
  margin-left: 110vh; 
  font-size: 19px;
}
  
@media only screen and (max-width: 767px) {
  
  .navbar-collapse{
    transform-origin: top;
    margin-left: 0vh;
    font-size: 19px;
  }

  .logoNav {
    position: relative;
    width: 10vh;
    z-index: 2;
  }

}
  .nav-link{
    color: white;
  }

  /* Main */
  .container-main{
    margin-top: 170px;
    margin-bottom: 250px;
    margin-left: 25px;
    margin-right: 25px;
  }

  @media screen and (max-width: 767px){
    .container-main{
      margin-top: 120px;
    }
    
  }
  
  .col-6{
    text-align: center;
  }
  
  /* Estilo de los íconos */
  
  /* íconos navbar */
  
  .fa.fa-user{
    background: black;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 30px;
  }
  
  .fa.fa-home {
    background: black;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 30px;
  }
  
  
  * FOOTER */
  /* Íconos footer-Izquierda */
  
  .fas.fa-phone{
    background: black;
   -webkit-background-clip: text;
   background-clip: text;
   color: transparent;
   font-size: 24px;
   
 }
 
 
 .far.fa-calendar-alt{
    background: black;
   -webkit-background-clip: text;
   background-clip: text;
   color: transparent;
   font-size: 24px;
 }
 
 .fas.fa-envelope.izq{
   background: black;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 24px;
 }
 
 .fa.fa-clock{
    background: black;
   -webkit-background-clip: text;
   background-clip: text;
   color: transparent;
   font-size: 24px;
 }
 
 .fas.fa-map-marker-alt.izq{
   background: black;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 24px;
 
 }

 /* Textos footer */
 .list-unstyled{
   color: white;
   margin-top: 30px;
 }

 /* texto derechos reservados */
 .d-flex{
   color: white;
 }
 
 /* íconos footer-derecha */
 
 .fas.fa-envelope.der{
 background: black;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 35px;
  margin-top: 30px;
 }
 
 .fas.fa-map-marker-alt.der{
   background: black;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 35px;
  margin-top: 30px;
 
 }
 
 .fab.fa-facebook{
   background: black;
   -webkit-background-clip: text;
   background-clip: text;
   color: transparent;
   font-size: 35px;
   margin-top: 30px;
 }
 

.footer{
   background: linear-gradient(91deg, #804276, #667999, #663377, #884846);
   margin-bottom: 0px; 
  
  
}
 
 .footer-list li{
   font-family: 'Manrope', sans-serif;
   
 }
 
 .footer-copyright {
   font-family: 'Manrope', sans-serif; /* Cambia 'OtraFuente' por el nombre de la fuente que quieras usar */
 margin: 0px;
 }

 .bold-text {
   font-weight: bold;
 }

.colum1{
margin-left: 20px;
}



.rights-box {
 background-color: rgba(63, 61, 86, 0.7); 
 margin-top: 10px;
 margin-bottom: 10px; 
 margin: 0px;
}

p{
 font-size: 12px;
}

.slogan{
 width: 80vh;
 height: 10vh;
 margin-left: 10vh;
 margin-top: 10vh;
}

.bgcolores{
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


@media only screen and (max-width: 767px) {
 .slogan h5 {
    font-size: 16px; 
 }
}

@media only screen and (max-width: 767px) {

 .text-footer{
   margin: 0;
   padding: 0;
 }

.colum2{
 margin-right: 100px;
}

}

    /* ESTILOS DE PRODUCCIÓN Y EMPLEO */
.texto-produccion{
    text-decoration: none;
}



.menu-list li{
  cursor: pointer;
  padding: 10px;
  transition: background 0.3s;
  padding: 13px;
  border-radius: 5px; 
  width: 60vh;
  height: 10vh;
}

.menu-list li:hover {
  background: linear-gradient(91deg, #804276, #667999, #663377, #884846);
  padding: 13px;
  border-radius: 5px; 
  width: 60vh;
  height: 10vh;
}

.menu-list li.active {
  background: linear-gradient(91deg, #804276, #667999, #663377, #884846);
  color: white;
  padding: 13px;
  border-radius: 5px; 
  width: 60vh;
  height: 10vh;

}

@media (max-width: 767px) {
 
  .menu-list li{
    cursor: pointer;
    padding: 10px;
    transition: background 0.3s;
    padding: 13px;
    border-radius: 5px; 
    width: 35vh;
    height: 10vh;
    text-align: center;
  }
  
  .menu-list li:hover {
    background: linear-gradient(91deg, #804276, #667999, #663377, #884846);
    padding: 13px;
    border-radius: 5px; 
    width: 35vh;
    height: 10vh;
  }
  
  .menu-list li.active {
    background: linear-gradient(91deg, #804276, #667999, #663377, #884846);
    color: white;
    padding: 13px;
    border-radius: 5px; 
    width: 35vh;
    height: 10vh;
  
  }

}

.parrafoEI-container{
  position: relative;
  padding-left: 0px;
 

}

.parrafoEI{
  font-size: 20px;
  margin: 0;
  margin-left: 2vh;
  text-align-last: last;
  margin-top: 15vh;
  margin-bottom: 5vh;
  z-index: 2;
}


/* vector */
.vector {
  width: 60vh;
  height: 15vh;
  background-image: url('Imagenes/manossemillas.svg');
  background-size: cover;
  background-position: center; 
  position: absolute;
  bottom: 30vh;
  top: 90vh;
  left: 105vh;
  transform: translateX(90%); 
  z-index: 1; 
}


/* Media query para pantallas pequeñas */
@media (max-width: 767px) {
  .parrafoEI-container {
    flex-direction: column; /* Cambia la dirección del contenedor a columna */
    align-items: center; /* Centra los elementos */
    justify-content: center;
    margin-bottom: 30px;
    
  }

  .vector {
      width: 70vw; 
      height: 20vh;
      position: absolute;
      top: 120vh;
      left: 50%; 
      transform: translateX(-50%); 
    
    }
    
  }


.menu{
  font-size: 20px;
}

.lista{
  margin-right: 50vh;
}

/*SECCIÓN PRODUCTORES */

.menu-list a,
.menu-list2 a.text-decoration-none {
  color: white;
}

.item-list2 {
font-size: 18px;
bottom: 5px;
}

/* para desplazar el elemento hacia la derecha cuando el cursor está sobre él */
.menu-list2 li {
position: relative;
transition: transform 0.3s ease-in-out;
margin-bottom: 10px;
}

.menu-list2 li:hover {
transform: translateX(10px);
}

.menu-list2 li a {
display: flex;
align-items: center;
color: #333;
}

.menu-list2 li a:hover .arrow-container {
opacity: 1;
visibility: visible;
}

.menu-list2 li a .arrow-container {
margin-right: 15px; 
opacity: 0;
transform: translateX(-10px); 
transition:opacity 0.3s ease-in-out, transform 0.3s ease-in-out; ;
}

.menu-list2 li:hover .arrow-container {
opacity: 1;
transform: translateX(10px); /* Aplica el efecto de deslizamiento cuando el cursor está sobre el elemento completo */
}

.arrow-container {
display: inline-block;
}

.menu-list2 li:hover a {
color: #667999; 
}

h1 {
color: rgb(242, 231, 242);
text-align: center; 
width: 60vh;
height: 10vh;
margin-left: 13vh;
bottom: 20vh;
}


/* Media query para pantallas pequeñas */
@media (max-width: 767px) {
.parrafoEI-container {
  flex-direction: column; /* Cambia la dirección del contenedor a columna */
  align-items: center; /* Centra los elementos */
  justify-content: center;
  margin-bottom: 30px;
  
}

h1 {
  color: #f7f7f7;
  text-align: left;
  width: 30vh;
  height: 5vh;
  bottom: 20vh;

}

.menu-list{
  margin-bottom: 10vh;
}

}


