/* ESTILOS DEL NAVBAR Y EL FOOTER */
/* Reinicio de css personalizado */
html {
  margin: 0px;

  }

  /* resto del css */
  
body {
  background-color: #3F3D56;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.logoNav {
    width: 20vh;

  }
  
  
  /* Línea divisoria entre el navbar y el main */
  .barraNavegacion{
    margin: 0;
    padding: 0;
    /* width: 600px; */
  }
  .nav-divider {
    height: 15px;
    background: linear-gradient(91deg, #804276, #667999, #663377, #884846); 
    margin-top: 10px; 
    margin-bottom: 10px; 
    
  }

  /* Estilos para pantallas grandes (mayores a 767px) */
.navbar-collapse {
  transform-origin: top;
  margin-left: 110vh; 
  font-size: 19px;
}
  
@media only screen and (max-width: 767px) {
  
  .navbar-collapse{
    transform-origin: top;
    margin-left: 0vh;
    font-size: 19px;
  }

  .logoNav {
    position: relative;
    width: 10vh;
    z-index: 2;
  }

}
  .nav-link{
    color: white;
  }

  /* Main */
  .container-main{
    margin-top: 170px;
    margin-bottom: 250px;
    margin-left: 25px;
    margin-right: 25px;
  }
  
  .col-6{
    text-align: center;
  }
  
  /* Estilo de los íconos */
  
  /* íconos navbar */
  
  .fa.fa-user{
    background: black;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 30px;
  }
  
  .fa.fa-home {
    background: black;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 30px;
  }
  
  
    /* Íconos footer-Izquierda */
  
    .fas.fa-phone{
      background: black;
     -webkit-background-clip: text;
     background-clip: text;
     color: transparent;
     font-size: 24px;
     
   }
   
   
   .far.fa-calendar-alt{
      background: black;
     -webkit-background-clip: text;
     background-clip: text;
     color: transparent;
     font-size: 24px;
   }
   
   .fas.fa-envelope.izq{
     background: black;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 24px;
   }
   
   .fa.fa-clock{
      background: black;
     -webkit-background-clip: text;
     background-clip: text;
     color: transparent;
     font-size: 24px;
   }
   
   .fas.fa-map-marker-alt.izq{
     background: black;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 24px;
   
   }
 
   /* Textos footer */
   .list-unstyled{
     color: white;
     margin-top: 30px;
   }
 
   /* texto derechos reservados */
   .d-flex{
     color: white;
   }
   
   /* íconos footer-derecha */
   
   .fas.fa-envelope.der{
   background: black;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 35px;
    margin-top: 30px;
   }
   
   .fas.fa-map-marker-alt.der{
     background: black;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 35px;
    margin-top: 30px;
   
   }
   
   .fab.fa-facebook{
     background: black;
     -webkit-background-clip: text;
     background-clip: text;
     color: transparent;
     font-size: 35px;
     margin-top: 30px;
   }
   
   /* Footer */
 
 
  .footer{
     background: linear-gradient(91deg, #804276, #667999, #663377, #884846);
     margin-bottom: 0px; 
    
    
  }
   
   .footer-list li{
     font-family: 'Manrope', sans-serif;
     
   }
   
   .footer-copyright {
     font-family: 'Manrope', sans-serif; /* Cambia 'OtraFuente' por el nombre de la fuente que quieras usar */
   margin: 0px;
   }
 
   .bold-text {
     font-weight: bold;
   }
 
 .colum1{
 margin-left: 20px;
 }
 
 
 
 .rights-box {
   background-color: rgba(63, 61, 86, 0.7); 
   margin-top: 10px;
   margin-bottom: 10px; 
   margin: 0px;
 }
 
 p{
   font-size: 12px;
 }
 
 .slogan{
   width: 80vh;
   height: 10vh;
   margin-left: 10vh;
   margin-top: 10vh;
 }
 
 .bgcolores{
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
 }
 
 
 @media only screen and (max-width: 767px) {
   /* Estilos específicos para pantallas pequeñas */
   .slogan h5 {
      font-size: 16px; 
   }
 
 }
 
 @media only screen and (max-width: 767px) {
   /* Estilos específicos para pantallas pequeñas */
   .text-footer{
     margin: 0;
     padding: 0;
   }
 
 .colum2{
   margin-right: 100px;
 }
 
 }

    /* ESTILOS DE PRODUCCIÓN Y EMPLEO */
.texto-produccion{
    text-decoration: none;
}



.menu-list li{
  cursor: pointer;
  padding: 10px;
  transition: background 0.3s;
  padding: 13px;
  border-radius: 5px; 
  width: 60vh;
  height: 10vh;
}

.menu-list li:hover {
  background: linear-gradient(91deg, #804276, #667999, #663377, #884846);
  padding: 13px;
  border-radius: 5px; 
  width: 60vh;
  height: 10vh;
}

.menu-list li.active {
  background: linear-gradient(91deg, #804276, #667999, #663377, #884846);
  color: white;
  padding: 13px;
  border-radius: 5px; 
  width: 60vh;
  height: 10vh;

}

@media (max-width: 767px) {
 
.menu-list li:hover {
  background: linear-gradient(91deg, #804276, #667999, #663377, #884846);
  padding: 13px;
  border-radius: 5px; 
  width: 30vh;
  height: 10vh;
} 

}

.parrafoEI-container{
  position: relative;
}

.parrafoEI{
  font-size: 20px;
  margin: 0 auto;
  text-align-last: left;
  margin-top: 88px;
  z-index: 2;

}

.vector {
  width: 70vh;
  height: 15vh;
  background-image: url('Imagenes/undraw_qa_engineers_dg-5-p (1).svg');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 400px;
  left: 100;
  right: 400px;
  z-index: 1; /* Asegura que la imagen de fondo esté detrás del texto */
}


/* Media query para pantallas pequeñas */
@media (max-width: 767px) {
  .parrafoEI-container {
    flex-direction: column; /* Cambia la dirección del contenedor a columna */
    align-items: center; /* Centra los elementos */
    justify-content: center;
    margin-bottom: 30px;
    
  }

  .vector {
    position: static; 
    width: 100%; 
    height: auto; 
    top: auto;  
    left: auto; 
    right: auto; 

  }

  h1 {
    margin-top: 60px;
    margin-left: 20px;
    background: linear-gradient(91deg, #804276, #667999, #663377, #884846);
    background-clip: text; /* Versión sin el prefijo -webkit */
    color: transparent;
    font-size: 30px;
    text-align: center;
  }

}

.menu{
  font-size: 20px;
}

.lista{
  margin-right: 50vh;
}


